body {
	background-color: #3B3B3B;
	margin: auto;
	z-index: 3;
	font-family: Arial, Helvetica, sans-serif;	
}
#header {
	background-color: #808080;
	margin: auto;
	width: 950px;
	height: 110px;	
}
#touch {
	display: none;
}
#phoneHeader, #touchToNav, #touchText {
	text-align: center;
	display: none;
}
.leftHead {
	width: 300px;
	float: left;
}
.headerImage {
	margin: 5px;
}
.rightHead {
	width: 650px;
	float: left;
	text-align: right;
}
#topimage {
	padding-left: 25px;
}
#pageContainer {
	z-index: 4;
	min-width: 600px;
	width: 950px;
	margin: auto;
	background-color: rgb(224, 224, 224);
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #424242;
	font-size: xx-large;
	margin: 0px;
}
#service {
	margin: 0px 10px 5px 10px;
	text-align: center;
}
#phoneNav {
	display: none;
}
#leftColumn {
	margin: 0px 0px 10px 4px;
	text-align:center;
	width: 150px;
	height: auto;
	float: left;
}
.center {
	text-align: center;
}
#churchPhoto{
	width:700px;
	height: 464px;
	background: url(images/sanctuary0005.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
/* Navigational Elements */
#navColumn {
	background-color: #FFFFFF;
	border: 1px solid #333333;
	padding: 5px;
	margin-bottom: 5px;
	text-decoration:none;
	text-align:center;
}
#navColumn a {
	display: block;
	font-size: 16pt;
	color: #343434;
	padding-top: 10px;
}
#navColumn a:link { 
	text-decoration:none;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
}
#navColumn a:hover { 
	text-decoration:underline;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}
#navColumn a:active, #navColumn a:visited {
	text-decoration:none;
    color:#E64016;
    font-family: Arial, Helvetica, sans-serif;
}
#navColumn ul {
	padding: 0px;
	list-style-type: none;
	margin: 0px 10px 0px 0px;
}
/* leftColumn social stuff */
#facebook {
	background-color: #FFFFFF;
	border: 1px solid #333333;
	padding: 5px;
	margin-top: 5px;
	margin-bottom:5px;
}
#facebook ul {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}
.shareButton {
	margin-left: 25px;
}
/*Left column adbox*/
.leftColAdbox {
	background-color: #FFF;
	border: 1px solid #333333;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#mainContent {
	padding: 5px;
	margin-left: 160px;
	margin-right: 10px;
	min-width: 500px;
	clear: none;
	margin-top: 0px;
}
/* Footer styles */
#footer {
	background-color: #808080;
	color: white;
	text-align:center;
	margin-top: 10px;
	width: auto;
	clear: both;
	padding:5px;
}
#contactInfo {
	text-align:center;
	font-size:large;
	margin-bottom: 10px;
}
.copyright {
	font-size: small;
}
h4 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	color: #343434;
}
h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	text-decoration: none;
}
#pastorLarge {
	float: right;
	margin: 5px;
}
.frontPageImg {
	width: 400px;
	height: 267px;
	float: right;
	margin: 5px;
}
.callIcon {
	display: none;
}
.Phone {
	color: black;
	text-decoration: none;
}
.Phone link {
	color: black;
	text-decoration: none;
}
.Phone visited {
	color: black;
	text-decoration: none;
}
.Phone hover {
	color: black;
	text-decoration: none;
}
.Phone active {
	color: black;
	text-decoration: none;
}
#calendar {
	text-align: center;
	padding-top: 10px;
}
a img {
	border:none;
}
/* Font Classes */
.servicead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
    color: #343434;
	font-weight:bold;
	text-decoration: none;
}